# Auto detect text files and perform LF normalization
* text=auto

# Preserve licensed upstream fixtures byte-for-byte, including trailing spaces.
tests/fixtures/real_world/snap/SnapBufferReadYAML.gml whitespace=-trailing-space
tests/fixtures/shader_corpus/tcc_wave/tcc_wave.fsh whitespace=-trailing-space
